<ul class="w3-navbar w3-light-grey">
    <li><a ng-click="openTab('originSourceTab')">Происхождение</a></li>
    <li><a ng-click="openTab('thematicSectionTab')">Тематический раздел</a></li>
</ul>

<div id="originSourceTab" class="w3-container tab">
    <div ng-switch="mode">

        <!--Отображение-->
        <div ng-switch-when="false">

            <h2 style="margin-top: 20px;">Происхождение</h2>

            <button class="w3-btn w3-green" style="margin-bottom: 20px; margin-top: 20px;"
                    ng-click="onActionAddOrEditItem()">Добавить
            </button>
            <br/>
            <table class="w3-table w3-striped w3-bordered w3-border">
                <tr>
                    <th>Название</th>
                    <th>Аббревиатура</th>
                    <th>Пояснение</th>
                    <th>Действие</th>
                </tr>
                <tr ng-repeat="originSource in originSources">
                    <td>{{ originSource.name }}</td>
                    <td>{{ originSource.abbrev }}</td>
                    <td>{{ originSource.note }}</td>
                    <td>
                        <button class="w3-btn w3-green" ng-click="onActionAddOrEditItem(originSource)"
                                style="margin-right: 5px">редактировать
                        </button>
                        <button class="w3-btn w3-red" ng-click="deleteItem(originSource, originSourceUrl)">удалить</button>
                    </td>
                </tr>
            </table>
        </div>

        <!--Редактирование-->
        <div ng-switch-when="true">
            <div class="w3-row" style="margin-top: 20px;">
                <div class="w3-col s2"><p>Название</p></div>
                <div class="w3-col s5">
                    <input class="w3-input w3-border" type="text" required ng-model="item.name">
                </div>
            </div>

            <div class="w3-row" style="margin-top: 20px;">
                <div class="w3-col s2"><p>Аббревиатура</p></div>
                <div class="w3-col s5">
                    <input class="w3-input w3-border" type="text" required ng-model="item.abbrev">
                </div>
            </div>

            <div class="w3-row" style="margin-top: 20px;">
                <div class="w3-col s2"><p>Пояснение</p></div>
                <div class="w3-col s5">
                    <input class="w3-input w3-border" type="text" required ng-model="item.note">
                </div>
            </div>

            <div class="w3-row-padding" style="margin-top: 20px">
                <div class="w3-half">
                    <button class="w3-btn w3-green" ng-click="submitItem(item, originSourceUrl)">Сохранить</button>
                </div>

                <div class="w3-half">
                    <button class="w3-btn w3-white w3-border" ng-click="backToTable()">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="thematicSectionTab" class="w3-container tab">
    <div ng-switch="mode">

        <!--Отображение-->
        <div ng-switch-when="false">

            <h2 style="margin-top: 20px;">Тематика экспонатов</h2>

            <button class="w3-btn w3-green" style="margin-bottom: 20px; margin-top: 20px;"
                    ng-click="onActionAddOrEditItem()">Добавить
            </button>
            <br/>
            <table class="w3-table w3-striped w3-bordered w3-border">
                <tr>
                    <th>Название</th>
                    <th>Действие</th>
                </tr>
                <tr ng-repeat="thematicSection in thematicSections">
                    <td>{{ thematicSection.name }}</td>
                    <td>
                        <button class="w3-btn w3-green" ng-click="onActionAddOrEditItem(thematicSection)"
                                style="margin-right: 5px">редактировать
                        </button>
                        <button class="w3-btn w3-red" ng-click="deleteItem(thematicSection, thematicSectionUrl)">удалить</button>
                    </td>
                </tr>
            </table>
        </div>

        <!--Редактирование-->
        <div ng-switch-when="true">
            <div class="w3-row" style="margin-top: 20px;">
                <div class="w3-col s2"><p>Название</p></div>
                <div class="w3-col s5">
                    <input class="w3-input w3-border" type="text" required ng-model="item.name">
                </div>
            </div>

            <div class="w3-row-padding" style="margin-top: 20px">
                <div class="w3-half">
                    <button class="w3-btn w3-green" ng-click="submitItem(item, thematicSectionUrl)">Сохранить</button>
                </div>

                <div class="w3-half">
                    <button class="w3-btn w3-white w3-border" ng-click="backToTable()">Отмена</button>
                </div>
            </div>
        </div>
    </div>

</div>