<div>
    <table class="w3-table" style="margin-top: 6%">
        <thead>
        <th style="width: 33%"></th>
        <th style="width: 33%"></th>
        <th style="width: 33%"></th>
        </thead>
        <tr>

            <th dir-paginate="museum in museums | itemsPerPage: 3">
                <div class="panel panel-default" style="margin-left: 20px;">
                    <a ng-href="#/museumPage/{{museum.id}}" class="w3-card-2">

                        <img src="img/default.jpeg" style="width:100%" ng-show="!haveImageUrl(museum)">
                        <img ng-src="{{ museum.imageUrl }}" style="width:100%" ng-show="haveImageUrl(museum)">
                    </a>

                    <div class="w3-container">
                        <span class="w3-xlarge">{{ museum.name }}</span><br/>

                        <div id="info" style="display: none">
                            <span class="w3-large" style="display: none">{{ museum.steet.name }}</span>
                        </div>
                    </div>

                </div>
            </th>
        </tr>
    </table>

    <br/>
    <br/>
    <br/>
    <br/>

    <dir-pagination-controls
            max-size="10">
    </dir-pagination-controls>
</div>